<div class="secondary-stat marginB20">
	<div class="row">
		<div class="col-lg-3">
			<div id="secondary-stat-item1" class="secondary-stat-item big-number-stat clearfix">
				<p class="data">
					<!-- <span class="col-left big-number">{{customer_properties.length}}</span> -->
					<span class="col-left big-number">3,87,487</span>
					<span class="col-right"><em>Total customers</em><em>5% <i class="fa fa-caret-up"></i></em></span>
					<i class="fa fa-users fa-3x"></i>
				</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div id="secondary-stat-item2" class="secondary-stat-item big-number-stat clearfix">
				<p class="data">
					<span class="col-left big-number">87</span>
					<span class="col-right"><em>Today</em><em>5% <i class="fa fa-caret-up"></i></em></span>
					<i class="fa fa-calendar-o fa-3x"><span>Today</span></i>
				</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div id="secondary-stat-item3" class="secondary-stat-item big-number-stat clearfix">
				<p class="data">
					<span class="col-left big-number">1,876</span>
					<span class="col-right"><em>This Week</em><em>7% <i class="fa fa-caret-up"></i></em></span>
					<i class="fa fa-calendar-o fa-3x"><span>Week</span></i>
				</p>
			</div>
		</div>
		<div class="col-lg-3">
			<div id="secondary-stat-item4" class="secondary-stat-item big-number-stat clearfix">
				<p class="data">
					<span class="col-left big-number">87,675</span>
					<span class="col-right"><em>This Month</em><em>7% <i class="fa fa-caret-up"></i></em></span>
					<i class="fa fa-calendar-o fa-3x"><span>Month</span></i>
				</p>
			</div>
		</div>
	</div>
</div>
<div class="widget">
	<div class="widget-header">
		<h3><i class="fa fa-bar-chart-o"></i> Sales Stat</h3> <em>- Visits, Sales and Traffic Source</em>
		<button type="button" class="btn btn-link btn-help" data-original-title="" title=""><i class="fa fa-question-circle"></i></button>
		<div class="btn-group widget-header-toolbar">
			<a href="#" id="tour-focus" title="Focus" class="btn-borderless btn-focus"><i class="fa fa-eye"></i></a>
			<a href="#" title="Expand/Collapse" class="btn-borderless btn-toggle-expand"><i class="fa fa-chevron-up"></i></a>
			<a href="#" title="Remove" class="btn-borderless btn-remove"><i class="fa fa-times"></i></a>
		</div>
	</div>
	<div class="widget-content">
		<img src="images/dashboard-chart.jpg" title="Yearly performance" />
	</div>
</div>